<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Receipt</servlet-name>
        <servlet-class>Class.Receipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>Class.PdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Receipt</servlet-name>
        <url-pattern>/Receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/PdfServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Entrance/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Entrance/Sign-in</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Entrance/*</url-pattern>
    </servlet-mapping>-->
    <!--log in IC-->
    <servlet>
        <servlet-name>Login_IC</servlet-name>
        <jsp-file>/Entrance/login_ic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_IC</servlet-name>
        <url-pattern>/Entrance/ReSign-in</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Forgot_pwd</servlet-name>
        <jsp-file>/Entrance/forgot-pwd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forgot_pwd</servlet-name>
        <url-pattern>/Entrance/Forgot_Password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/Entrance/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Entrance/Home</url-pattern>
    </servlet-mapping>
    
    <!--mapping for system admin start-->
    <servlet>
        <servlet-name>adm_lookup</servlet-name>
        <jsp-file>/SystemAdmin/HIS010001.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_lookup</servlet-name>
        <url-pattern>/SystemAdmin/Lookup</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adm_users</servlet-name>
        <jsp-file>/SystemAdmin/HIS010002.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_users</servlet-name>
        <url-pattern>/SystemAdmin/UserManagement</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adm_queue</servlet-name>
        <jsp-file>/SystemAdmin/HIS010003.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_queue</servlet-name>
        <url-pattern>/SystemAdmin/QueueManagement</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adm_hfc</servlet-name>
        <jsp-file>/SystemAdmin/HIS010004.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_hfc</servlet-name>
        <url-pattern>/SystemAdmin/HealthFacilityManagement</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adm_setting</servlet-name>
        <jsp-file>/SystemAdmin/HIS010006.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_setting</servlet-name>
        <url-pattern>/SystemAdmin/Setting</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adm_system</servlet-name>
        <jsp-file>/SystemAdmin/HIS010005.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_system</servlet-name>
        <url-pattern>/SystemAdmin/System</url-pattern>
    </servlet-mapping>
    <!--mapping for system admin end-->
    
    <!--mapping for profile start-->
    <servlet>
        <servlet-name>adm_profile</servlet-name>
        <jsp-file>/Entrance/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adm_profile</servlet-name>
        <url-pattern>/Entrance/Profile</url-pattern>
    </servlet-mapping>
    <!--mapping for profile end-->
    
    <!--mapping for LIS-->
      
    <servlet>
        <servlet-name>order_list</servlet-name>
        <jsp-file>/LIS/MainPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>order_list</servlet-name>
        <url-pattern>/LIS/Order_list</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Receive_Specimen</servlet-name>
        <jsp-file>/LIS/ManageResult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Receive_Specimen</servlet-name>
        <url-pattern>/LIS/Receive_Specimen</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Sent_Receive_Specimen</servlet-name>
        <jsp-file>/LIS/ReceiveSpecimen.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sent_Receive_Specimen</servlet-name>
        <url-pattern>/LIS/Sent_Receive_Specimen</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Manage_Test</servlet-name>
        <jsp-file>/LIS/ManageTest.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage_Test</servlet-name>
        <url-pattern>/LIS/Manage_Test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Post_To_Bill</servlet-name>
        <jsp-file>/LIS/Billing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Post_To_Bill</servlet-name>
        <url-pattern>/LIS/Post_To_Bill</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Maintain_Test_Code</servlet-name>
        <jsp-file>/LIS/ManageTestCode.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Maintain_Test_Code</servlet-name>
        <url-pattern>/LIS/Maintain_Test_Code</url-pattern>
    </servlet-mapping>
    <!--mapping for LIS end-->
    
    
    <!-- mapping for PIS start -->
    
    <!-- mapping for PIS HIS040001 -->
    <servlet>
        <servlet-name>Dispense_Drug_Order</servlet-name>
        <jsp-file>/PIS/HIS040001.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispense_Drug_Order</servlet-name>
        <url-pattern>/PIS/Dispense_Drug_Order</url-pattern>
    </servlet-mapping>
    <!-- mapping for PIS HIS040001 -->

    <!-- mapping for PIS HIS040002 -->
    <servlet>
        <servlet-name>Manage_Drug_Code</servlet-name>
        <jsp-file>/PIS/HIS040002.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage_Drug_Code</servlet-name>
        <url-pattern>/PIS/Manage_Drug_Code</url-pattern>
    </servlet-mapping>
    <!-- mapping for PIS HIS040002 -->
    
    <!-- mapping for PIS HIS040003 -->
    <servlet>
        <servlet-name>Manage_Drug_Stock</servlet-name>
        <jsp-file>/PIS/HIS040003.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage_Drug_Stock</servlet-name>
        <url-pattern>/PIS/Manage_Drug_Stock</url-pattern>
    </servlet-mapping>
    <!-- mapping for PIS HIS040003 -->
    
    <!-- mapping for PIS HIS040004 -->
    <servlet>
        <servlet-name>Manage_Vendor</servlet-name>
        <jsp-file>/PIS/HIS040004.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage_Vendor</servlet-name>
        <url-pattern>/PIS/Manage_Vendor</url-pattern>
    </servlet-mapping>
    <!-- mapping for PIS HIS040004 -->
    
    <!-- mapping for PIS end -->


    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
